<h3>Regisztráció</h3>
<hr>

<form>
    <div class="mb-3">
        <label for="nameInput" class="form-label">Név</label>
        <input type="text" class="form-control" id="nameInput">
    </div>

    <div class="mb-3">
        <label for="emailInput" class="form-label">Email cím</label>
        <input type="email" class="form-control" id="emailInput">
    </div>

    <div class="mb-3">
        <label for="passwordInput" class="form-label">Jelszó</label>
        <input type="password" class="form-control" id="passwordInput">
    </div>
    <div class="mb-3">
        <label for="confirmPasswordInput" class="form-label">Jelszó megerősítése</label>
        <input type="password" class="form-control" id="confirmPasswordInput">
    </div>

    <button class="btn btn-primary" id="regBtn">Regisztráció</button>
</form>