<h3>Regisztráció</h3>
<hr>

<div id="messageBox">
    <!-- Dinamikusan fel lesz töltve -->
</div>

<form>
    <div class="mb-3">
        <label for="nameField" class="form-label">Név</label>
        <input type="text" class="form-control" id="nameField">
    </div>

    <div class="mb-3">
        <label for="emailField" class="form-label">Email cím</label>
        <input type="email" class="form-control" id="emailField">
    </div>

    <div class="mb-3">
        <label for="passwordField" class="form-label">Jelszó</label>
        <input type="password" class="form-control" id="passwordField">
    </div>
    <div class="mb-3">
        <label for="confirmPasswordField" class="form-label">Jelszó megerősítése</label>
        <input type="password" class="form-control" id="confirmPasswordField">
    </div>

    <button class="btn btn-primary" id="regBtn" onclick="registration()">Regisztráció</button>
</form>

<!-- <script src="../controllers/userCtrl.js"></script> -->